:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --grey-color: #EEEEEE;
    --black-color: #000000;
    --section-grey-color: #F5F4FA;
    --grey-shadow: #FFFFFF99;
    --hero-footer-color: #2F303A;
    --light-grey-color: #ECECEC;

}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    letter-spacing: 0.03em;

}

.logo {

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--title-text-color)
}

.logo>.log {
    color: var(--accent-color);
}

.list-nav,
.list-about,
.list-photo,
.list-staff,
.list-footer,
.list-button,
.list-portfolio {
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.site-nav .link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration: none;
}


.accent {
    color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts:hover,
.contacts:focus,
.list-footer a:hover,
.list-footer a:focus {
    color: var(--accent-color);
}

.contacts {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;

}


.hero {
    background-color: var(--hero-footer-color);
}

.promo-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.button {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-family: inherit;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.button:hover,
.button:focus {
    background-color: var(--hero-footer-color);
}

.our-team {
    background-color: var(--section-grey-color);
}

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.why-title {
    color: var(--title-text-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.about {
    font-size: 14px;
    line-height: 1.71;
}

.position {
    font-size: 16px;
    line-height: 1.19;
}

.staff-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.36;
}

.foot {
    background-color: var(--hero-footer-color);
}

.logo-footer {
    color: var(--primary-white-color);
}

.address-link {
    font-style: normal;
    /*исходный текст был курсивным, поэтому поставила font-style: normal */
    line-height: 1.71;
    text-decoration: none;
    color: var(--primary-white-color);
}

.footer-link {
    font-style: normal;
    /*исходный текст был курсивным, поэтому поставила font-style: normal */
    line-height: 1.71;
    text-decoration: none;
    color: var(--grey-shadow);
}

.button-filter {
    color: var(--title-text-color);
    font-weight: inherit;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;
}

.button-filter:hover,
.button-filter:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.portfolio-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.about-portfolio {
    font-size: 16px;
    line-height: 1.88;
}